<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/nav %>
  <article>
    <h2><%= page.pageTitle %></h2>
    <img src="/images/<%= page.pageImage %>" alt="<%= page.pageTitle %>" />
    <p>Release Date: <%= page.releaseDate %></p>
  </article>
<% include ../partials/footer %>
